#foreach( $c in $ChapterList )
--------------------------------------------------------------------------------
$c.ChapterCode   $c.ChapterName
--------------------------------------------------------------------------------

#foreach( $l in $c.Lines )
$l.SourceText
#end
#end