<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>
#foreach( $c in $ChapterList )
	<h2> $c.ChapterCode   $c.ChapterName </h2>
	<h2> $c.ChapterCode   $c.ChapterTranslateName </h2>
	<p>
	#foreach( $l in $c.Lines )
		$l.SourceText
		<br/>
		$l.TranslateText
		<br/>
	#end
	</p>
#end
</body>

</html>