#foreach( $c in $ChapterList )
--------------------------------------------------------------------------------
$c.ChapterCode   $c.ChapterName
$c.ChapterCode   $c.ChapterTranslateName
--------------------------------------------------------------------------------

#foreach( $l in $c.Lines )
$l.SourceText
$l.TranslateText
#end
#end